body {
    height: 100vh;
    background: hsla(143, 59%, 66%, 1);

    background: linear-gradient(0deg, hsla(143, 59%, 66%, 1) 0%, hsla(185, 69%, 46%, 1) 100%);

    background: -moz-linear-gradient(0deg, hsla(143, 59%, 66%, 1) 0%, hsla(185, 69%, 46%, 1) 100%);

    background: -webkit-linear-gradient(0deg, hsla(143, 59%, 66%, 1) 0%, hsla(185, 69%, 46%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#77DC9E", endColorstr="#25BAC8", GradientType=1 );rstr="#77DC9E", endColorstr="#25BAC8", GradientType=1 );ansform.Microsoft.gradient( startColorstr="#C0EDD1", endColorstr="#71D3DC", GradientType=1 );
}

header{
    box-shadow: 0px 0px 8px 0px #6A6A6A;
    font-family: 'Jura', sans-serif;
    
}

.weather-header {
    width: 100%;
    text-align: center;
}

ul {
    margin-top: 10px;
}
.container-fluid {
    margin-top: 50px;
    
}

.fit-width {
    width: fit-content;
}

.fit-height{
    height: fit-content;
}

.card {
    margin: 10px;
    font-weight: 600;
    box-shadow: 0px 0px 8px 0px #6A6A6A;
}

/* Very High UV */
.very-high-uv {
    background-color: #DC3545;
    color: white;
    padding: 8px;
    border-radius: 5px;
}
/* High UV */
.high-uv {
    background-color: #E6935B;
    color: white;
    padding: 8px;
    border-radius: 5px;
}
/* Moderate UV */
.mod-uv {
    background-color: #F0E67E;
    /* color: white; */
    padding: 8px;
    border-radius: 5px;
}
/* Low UV */
.low-uv {
    background-color: #77DC9E;
    color: white;
    padding: 8px;
    border-radius: 5px;
}


